/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

body {
  font-size: 23px;
  margin: 0;
  background: -webkit-linear-gradient(171deg, #1d1d1d, #1f1f1f);
  background: linear-gradient(171deg, #0f0f0f, #111111);
  font-family: "Montserrat", sans-serif;
}
